<!DOCTYPE html>
<html lang="pt_PT">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
</head>

<body>
    <h1>Democracia2</h1>
    <h2>Login</h2>
    
    <form action="#" th:action="@{/home}" method="post">
    	<label for="id">Citizen ID:</label>
		<input type="number" id="id" name="id" min="1" max="55">
		<!--for now a min of 1 and max of 55 due to being a demo with 55 citizens-->
    
    	<input type="submit" value="Login"></input>
    </form>

</body>

</html>